<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Littlest Pet Shop</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    {{{body}}}
    <!-- Jquery Link -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!-- Custom js file -->
    <script src="/assets/js/pets.js"></script>
</body>

</html>