<div class="container">
    <form class="basic-form">
        <h3>Reset Password</h3>
        <hr>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary" id="login-btn">Reset password</button>
        <div class="form-footer-links">
            <p><a href="/login">Return to login</a></p>
        </div>
    </form>
</div>