<div class="dog-container">
    <div class="head">
        <div class="ears">
            <div class="left ear"></div>
            <div class="right ear"></div>
        </div>
        <div class="eyes">
            <div class="iris">
                <div class="pupil"></div>
            </div>
            <div class="iris">
                <div class="pupil"></div>
            </div>
        </div>
        <div class="nose"></div>
    </div>
    <div class="body">
        <div class="leg"></div>
        <div class="leg"></div>
        <div class="leg"></div>
        <div class="leg"></div>
    </div>
    <div class="tail">
    </div>
</div>

<br><br><br><br>

<div class="text-center">
    <img src="/assets/img/arrow-down.svg" alt="down arrow"
        class="arrow animate__animated animate__bounce animate__infinite animate__slow">
</div>

<div class="container">
    <div class="row">
        <div class="card-wide text-center col-md-12">
            <div class="card-body">
                <h5 class="card-title">Ready to Adopt?</i> </h5>
                <p class="card-text">Click to find your furever friend!</p>
                <a href="/search-pet" class="btn btn-light">Search Pets</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card-main col-md-5">
            <div class="card-body">
                <h5 class="card-title">Search for Dogs <i class="fas fa-dog"></i> </h5>
                <p class="card-text">Search for the perfect pup! Find dogs near you who need to find their furever
                    home.</p>
                <a href="/search-dogs" class="btn btn-light">Peruse Playful Pups</a>
            </div>
        </div>
        <div class="card-main col-md-5">
            <div class="card-body">
                <h5 class="card-title">Search for Cats <i class="fas fa-cat"></i></h5>
                <p class="card-text">Find cute kittens and cats available at an adoption shelter near you looking
                    for a family.</p>
                <a href="/search-cats" class="btn btn-light">Find Furry Felines</a>
            </div>
        </div>

        <div class="row">
            <div class="card-wide text-center col-md-12">
                <div class="card-body">
                    <h5 class="card-title">Let Fate Decide!</i> </h5>
                    <p class="card-text">Click to find a random pet!</p>
                    <a href="/random" class="btn btn-light">Find Random</a>
                </div>
            </div>
        </div>

    </div>
</div>
</div>