<div class="container-md">
    <div class="logo text-center">
        <img src="/assets/img/vertical-logo.png" alt="the littlest pet shop logo">
    </div>
    <div class="text-center">
        <img src="/assets/img/arrow-down.svg" alt="down arrow" class="arrow animate__animated animate__bounce animate__infinite animate__slow">
    </div>
    
</div>