<div class="container">
    <form class="basic-form">
        <h3>Login</h3>
        <hr>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
        <div class="form-footer-links">
            <p><a href="/register">Register</a> | <a href="/forgot-password">Forgot password?</a></p>
        </div>
    </form>
</div>