<div class="container">
    <form class="basic-form">
        <h3>Reset Password</h3>
        <hr>
        <div class="form-group">
            <label for="password">New password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm new password:</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary" id="login-btn">Save</button>
    </form>
</div>