/*

font-family: 'Fredoka One', cursive;
font-family: 'Ubuntu', sans-serif;

*/


/* Main Page Styling */
.background{
    background: url("https://i.pinimg.com/564x/8f/f7/8f/8ff78fc9e9735c521b733ecafd4e194e.jpg"), no-repeat center fixed linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));;
    background-size: cover;
    background-blend-mode: overlay;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

.card-main{
    background-color: rgba(255,255,255,0.7);
    padding: 30px;
    margin: auto;
    width: 18rem;
    height: 18rem;
    margin-bottom: 30px;
}


.card-wide{
    background-color: rgba(255,255,255,0.7);
    padding: 30px;
    margin: auto;
    width: 45rem;
    height: 13rem;
    margin-bottom: 30px;
}


.navbar-brand{
    font-size: 30px;
}

.logo{
    margin-top: 30px;
}

.arrow{
    margin-top: -250px;
    width: 70px;
}

/* Pet Search Page Styling */

.card{
    margin: 10px;
    background-color: #ebebeb;
    border: 2px solid black;
}

.card-img-top{
    border-bottom: 2px solid black;
}

.pet-search-title{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: large;
}

/* Login/RegisterPage */

.basic-form{
    background-color: white;
    padding: 30px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.form-footer-links{
    margin-top: 20px;
}

.center-div{
    margin: 0 auto;
}

hr{
    border: 1px solid #888888;
}